<footer> <!-- footer starts here -->
    <div class="footer-left-container">
        <!-- Want to know more? -->
        <h1>¿Quiere saber más?</h1>
        <h2>Llamanos | <a href="tel:617-686-5169" class="phone-number">617-686-5169</a></h2>              	
        <br>
        <br>
        <br>
        <br>
        <div class="footer-facebook-promo">
            <h2>Visita nuestra <br>página de <br>Facebook</h2>
            <a href="https://www.facebook.com/costaricamass/" alt="facebook icon" target="_blank"><i class="fa fa-facebook-square fa-3x" id="fa" aria-hidden="true"></i></a>
            
        </div>  
    </div>
    <div class="footer-right-container">
        <div class="footer-logo">
            <img src="/images/CostaRicaShadow.png">
        </div>
        <p>
            Somos una organización sin ánimos de lucro de acuerdo a la Sección 501 (c)(3) del código IRS, fundada en el año 2015, para servir a la comunidad Costarricense en el estado de Massachusetts y mantenerla unida
        </p>
    </div>
</footer> <!-- footer ends here -->
</div> <!-- Main container ends here -->

<!-- Scripts start Here -->

<!-- GTRANSLATE script starts here -->
<script type="text/javascript">
    /* <![CDATA[ */
    eval(function(p,a,c,k,e,r){e=function(c){return(c<a?'':e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--)r[e(c)]=k[c]||e(c);k=[function(e){return r[e]}];e=function(){return'\\w+'};c=1};while(c--)if(k[c])p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c]);return p}('6 7(a,b){n{4(2.9){3 c=2.9("o");c.p(b,f,f);a.q(c)}g{3 c=2.r();a.s(\'t\'+b,c)}}u(e){}}6 h(a){4(a.8)a=a.8;4(a==\'\')v;3 b=a.w(\'|\')[1];3 c;3 d=2.x(\'y\');z(3 i=0;i<d.5;i++)4(d[i].A==\'B-C-D\')c=d[i];4(2.j(\'k\')==E||2.j(\'k\').l.5==0||c.5==0||c.l.5==0){F(6(){h(a)},G)}g{c.8=b;7(c,\'m\');7(c,\'m\')}}',43,43,'||document|var|if|length|function|GTranslateFireEvent|value|createEvent||||||true|else|doGTranslate||getElementById|google_translate_element2|innerHTML|change|try|HTMLEvents|initEvent|dispatchEvent|createEventObject|fireEvent|on|catch|return|split|getElementsByTagName|select|for|className|goog|te|combo|null|setTimeout|500'.split('|'),0,{}))
    /* ]]> */
    // 
</script>
<!-- * -->
<script type="text/javascript">
function googleTranslateElementInit2() {new google.translate.TranslateElement({pageLanguage: 'es',autoDisplay: false}, 'google_translate_element2');}
</script><script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit2"></script>
<!-- * -->
<!-- GTRANSLATE script ends here  -->

    <script src="https://code.jquery.com/jquery-1.11.0.min.js" integrity="sha256-spTpc4lvj4dOkKjrGokIrHkJgNA0xMS98Pw9N7ir9oI=" crossorigin="anonymous"></script>    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/1.2.1/jquery-migrate.js"></script>
    <script type="text/javascript" src="./scripts/slick.min.js"></script>
    <script src="./scripts/script.js"></script>
    <!-- Scripts end Here -->
</body>
</html>