<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The official site for information about Costa Rican events happening in Massachusetts hosted by the Costa Rica En Massachusets organization">
    <meta name="keywords" content="Costa Rica En Massachusetts, Costa Rica In Masachusetts, events, social, Boston, Costa Rica, Massachusetts">
    <title>Costa Rica En Massachusetts</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="./styles/slick.css">
    <link rel="stylesheet" type="text/css" href="./styles/slick-theme.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="./styles/style.css">
</head>

<body>
    <div class="main-container"> <!-- Main container starts here -->
