<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>To Add an event, fill out the form and press submit.</p>
    <br>
    <form action="/add_event" method="POST">
        <label for="eventName">Event Name: </label>
        <input type="text" id="eventName" name="eventName">
        <br>
        <br>
        <label for="eventDate">Event Date: </label>
        <input type="date" id="eventDate" name="eventDate">
        <br>
        <br>
        <label for="eventTime">Event Time: </label>
        <input type="time" id="eventTime" name="eventTime" placeholder="hrs:mins">
        <br>
        <br>
        <label for="eventLocation">Event Location: </label>
        <input type="text" id="eventLocation" name="eventLocation">
        <br>
        <br>
        <label for="eventAdditionalInfo">Additional Information: </label>
        <input type="text" id="eventAdditionalInfo" name="eventAdditionalInfo">
        <br>
        <br>
        <button class="submit-button" id="addEventButton">Submit</button>
    </form>
    <br>
    <br>
</body>
</html>
