<h2>Administrative Options:</h2>
<br>

<a href="/admin/add_event">ADD AN EVENT</a>
<br><br>
<a href="/admin/update_event">UPDATE AN EVENT</a>
<br><br>
<a href="/admin/update_event">DELETE AN EVENT</a>
<br><br>
<a href="/admin/user_entries">SEE USER ENTRIES</a>

