<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Administrative Options:</h2>
    <br>

    <a href="/admin/view_events">SEE All EVENTS</a>
    <br><br>
    <a href="/admin/add_event">ADD AN EVENT</a>
    <br><br>
    <a href="/admin/update_event">UPDATE AN EVENT</a>
    <br><br>
    <a href="/admin/update_event">DELETE AN EVENT</a>
    <br><br>
    <a href="/admin/user_entries">SEE USER ENTRIES</a>
    <br> <br>
    <p>Click <a href="/register">here</a> to creat a user.</p>

    <br> <br>
    <button><a href="/logout">Logout</a></button>
</body>
</html>
