<%- include('partials/head'); -%>
<%- include('partials/nav'); -%>
<div class="evets-body-color">
    <div class="body-content-container">
        <div class="events-page-img-container">
            <img src="images/bodyBackgrounds/UnderConstruction/under-construction.png">
        </div>
        <div class="events-page-h3-container">
            <h3>
                <!-- Our events list is being updated and will be posted soon! -->
                ¡Nuestra lista de eventos se está actualizando y se publicará pronto!
            </h3>
            
            <div>
                <% all_events.forEach( (single_event) => { %>
                    <h4>
                        <%= single_event.event_name %>
                    </h4> 
                    
                <% }) %>
        
            </div>


        </div> 
    </div>     
    <!-- **** -->
</div>
<%- include('partials/footer'); -%>
