<%- include('partials/head'); -%>

    <button class="admin_button"><a class="return-to-admin" href="/admin" >Return to Admin Page</a></button>
    <br><br>

    <div class="admin_page_container">
        <h3>Click on the event you want to update or delete.</h3>
        <% all_events.forEach( (single_event) => { %>
            
            <a href="/admin/update_event/<%= single_event._id %>"><%= single_event.event_name %></a>
            
            <br>
        <% }) %>

        <h3><%= all_events.event_name %></h3>
    </div>    
</body>
</html>