<%- include('partials/head'); -%>
<%- include('partials/nav'); -%>
<div class="banner-container"><!-- banner container starts here -->
   
    <div class="banner-heading-container">
        <h1>
            COSTA RICA <br>EN <br>MASSACHUSETTS  
        </h1>
        <h3 class="banner-subheading">
            La Organizacion Oficial <br>De Los
            Ticos​ 
        </h3>
        <img src="images/flag.jpg" class="flag">
        <div class="arrow bounce">
            <a class="fa fa-arrow-down fa-2x" href="#"></a>
          </div>
    </div>   

</div> <!-- banner container ends here -->  

<div class="main-subcontainer"> <!-- Main subcontainer starts here -->
    <hr id="beginningOfSection1">   
<div class="mission-and-values-container"> <!-- Mission and values start here -->
    
    <div class="heading-container" id="missionHeadingContainer">
        <h2 class="header">Misión y Valores</h2>
    </div>
    <p>
        ​Mantener unida a la comunidad Costarricense a travez de la organización de eventos cívicos tradicionales, compartiendo y fomentando con orgullo, en Massachusetts, nuestra cultura e identidad.
    </p>
</div><!-- Mission and values end here -->
<hr id="beginningOfSection2">

<div class="events-main-container"> <!-- Events main container start here -->
    <div class="events-container"> <!-- Events start here -->
        <div class="heading-container" id="eventsHeadingContainer">
            <h2 class="header">
                Eventos
            </h2>
        </div>
    
        <div class="user-instructions">
            <!-- <p>
                Click on the names of the events below to learn about our events.
            </p> -->
            <p>
                Haga clic en los eventos a abajo para conocer nuestros lista de eventos.
            </p>
        </div>

        <div class="events-subcontainer"> <!-- Events subcontainer starts here -->
            <div class="individual-event-container"> <!-- Event1 starts here -->
                    <a href="/events">
                        <div class="events-image-container1">
                        </div>
                        <div class="event description">
                        <p class="event-name">
                            <!-- CostaRican Festival
                            Evento de Derano -->
                            Festejo Tico
                        </p>
                    </a>
                </div>
                
            </div> <!-- Event1 ends here -->

            <div class="individual-event-container"> <!-- Event2 starts here -->
                <a href="/events">
                    <div class="events-image-container2">
                    </div>
                    <p class="event-name">
                        <!-- Christmas Party -->
                        Evento Navideño
                    </p>
                </a>
            </div> <!-- Event2 ends here -->

            <div class="individual-event-container"> <!-- Event3 starts here -->
                <a href="/events">
                    <div class="events-image-container3">
                    </div>
                    <p class="event-name">
                        <!-- Visit from Costarican Consulate -->
                        Evento Oficial: Visita de Personal <br>del Consulado de Costa Rica, NY
                    </p>
                </a>
            </div> <!-- Event3 ends here -->

        </div> <!-- Events subcontainer ends here -->
    </div> <!-- Events container ends here -->
</div> <!-- Events main container ends here -->
<hr id="beginningOfSection3">

<div class="photo-albums-container"> <!-- Photo Albums start here -->
    <div class="heading-container" id="galleryHeadingContainer">
        <h2 class="header">
            Galeria
        </h2>
    </div>
    <div class="featured-videos">
        <h3>Festejo Tico 2019</h3>
        <iframe width="640" height="360" src="https://www.youtube.com/embed/ugPnaMkSXQA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <!-- <img src="/images/logoSeeThrough-Copy.png" class="gallery-logo"> -->
    </div>
    <br>
    <div class="user-instructions">
        <p>
            <!-- Click on an album picture to view the full album. -->
            Haga clic en la imagen de un álbum a abajo para ver el álbum completo.
        </p>
    </div>

    <div class="photo-albums-subcontainer"> <!-- Albums SUBcontainer starts here -->
        <div class="album-container"> <!-- Album1 starts here -->
            <div class="album-image-container">
                <a href="https://www.dropbox.com/sh/no0cheritseii4w/AABeZF42KpgRzIST3lkqTo4Ua?dl=0" target="_blank" class="album1-image"><img src="./images/Festejo-Tico-2018/41849013-2065446120433245-6886742594689171456-n.jpg" class="album-image"></a>
                <a href="https://www.dropbox.com/sh/no0cheritseii4w/AABeZF42KpgRzIST3lkqTo4Ua?dl=0" target="_blank">
                    <div class="overlay">
                    <div class="text">2018</div>
                  </div>
                </a>
            </div>
            <p>
                Festejo Tico
            </p>
            <br>
        </div> <!-- Album1 ends here -->

        <div class="album-container"> <!-- Album2 starts here -->
            <div class="album-image-container">
                <a href="https://www.dropbox.com/sh/um15ctnvpgwgysx/AABfQlvpU4eiaHTnRFP6Htsba?dl=0" target="_blank" class="album2-image"><img src="./images/Fiesta-Navidena-2018-StPaul-Episcopalian-Cathedral/48377779-2116368988674291-4494666666625466368-n.jpg" class="album-image"></a>
                <a href="https://www.dropbox.com/sh/um15ctnvpgwgysx/AABfQlvpU4eiaHTnRFP6Htsba?dl=0" target="_blank" class="album2-image">
                    <div class="overlay">
                        <div class="text">2018</div>
                    </div>
                </a>  
            </div>
            <p>
                Fiesta Navidena
            </p>
            <br>
        </div> <!-- Album2 ends here -->

        <div class="album-container"> <!-- Album3 starts here -->
            <div class="album-image-container">
                <a href="https://www.dropbox.com/sh/ybfwp6rd1jwqvq6/AAARzye0cc5sdjer9F_gsdvYa?dl=0" target="_blank"><img src="./images/Mundial-de-Futbol-2018/35463343-1980978218880036-2504555447894147072-n.jpg" class="album-image"></a>
                <a href="https://www.dropbox.com/sh/ybfwp6rd1jwqvq6/AAARzye0cc5sdjer9F_gsdvYa?dl=0" target="_blank">
                    <div class="overlay">
                        <div class="text">2018</div>
                    </div>
                </a>  
            </div>
            <p>
                Copa Mundial de Fútbol
            </p>
            <br>
        </div> <!-- Album3 ends here -->

        <div class="album-container"> <!-- Album4 starts here -->
            <div class="album-image-container">
                <a href="https://www.dropbox.com/sh/23zmxx4lsysnoa5/AADW8CBnjSJOrAeUamsQL-gca?dl=0" target="_blank"><img src="./images/15-de-Septiembre-de-2017-Centro-America-Independiente-BotonCityHall/21586946-1842140962763763-509906852884960944-o_2.jpg" class="album-image"></a>
                <a href="https://www.dropbox.com/sh/23zmxx4lsysnoa5/AADW8CBnjSJOrAeUamsQL-gca?dl=0" target="_blank">
                    <div class="overlay">
                        <div class="text">2017</div>
                    </div>
                </a>
            </div>
            <p>
                Día de la Independencia <br>de Centroamérica
            </p>
            <br>
        </div> <!-- Album4 ends here -->

        <div class="album-container"> <!-- Album5 starts here -->
            <div class="album-image-container">
                <a href="https://www.dropbox.com/sh/wsjpnjeprc4o9xw/AACwwd2GZHHPvHTBmxARCvGea?dl=0" target="_blank"><img src="./images/Consulado-Mobil-Costa-Rica-en-Boston-2017/img-0004_2.jpg" class="album-image"></a>
                <a href="https://www.dropbox.com/sh/wsjpnjeprc4o9xw/AACwwd2GZHHPvHTBmxARCvGea?dl=0" target="_blank">
                    <div class="overlay">
                        <div class="text">2017</div>
                    </div>
                </a>
            </div>
            <p>
                Consulado Mobil Costa Rica <br>en Boston
            </p>
            <br>
        </div> <!-- Album5 ends here -->

    </div> <!-- Photo Albums SUBcontainer ends here -->

</div> <!-- Photo Albums end here -->
<hr id="beginningOfSection4">

<div class="who-we-are-container"> <!-- Who we are starts here -->
    <div class="heading-container" id="whoWeAreHeadingContainer">
        <h2 class="header">
            Quienes somos
        </h2>
    </div>

    <div class="who-we-are-subcontainer"> <!-- Who we are subcontainer starts here -->
        <div class="person-container"> <!-- Person1 starts here -->
            <div class="person-image-container">
                <img src="./images/organizers/darwin.jpg">
            </div>
            <p class="person-name-and-title">
                Darwin Cordoba: <br>Presidente
            </p>
        </div> <!-- Person1 ends here -->

        <div class="person-container"> <!-- Person2 starts here -->
            <div class="person-image-container">
                <img src="./images/organizers/dorla.jpg">
            </div>
            <p class="person-name-and-title">
                Dorla White: <br>Secretaria
            </p>
        </div> <!-- Person2 ends here -->

        <div class="person-container"> <!-- Person3 starts here -->
            <div class="person-image-container">
                <img src="./images/organizers/bernardo.jpg">
            </div>
            <p class="person-name-and-title">
                Bernardo Iglesias: <br>Tesorero
            </p>
        </div> <!-- Person3 ends here -->

        <div class="person-container"> <!-- Person4 starts here -->
            <div class="person-image-container">
                <img src="./images/organizers/olga.jpg">
            </div>
            <p class="person-name-and-title">
                Olga Noj: <br>Directora
            </p>
        </div> <!-- Person4 ends here -->

        <div class="person-container"> <!-- Person5 starts here -->
            <div class="person-image-container">
                <img src="./images/organizers/damaris.jpg">
            </div>
            <p class="person-name-and-title">
                Damaris Johnson: <br>Directora
            </p>
        </div> <!-- Person5 ends here -->

    </div> <!-- Who we are subcontainer ends here -->
</div> <!-- Who we are container ends here -->
<hr id="beginningOfSection5">

<div class="contacts-container"> <!-- Contacts start here -->
    <div class="heading-container" id="contactsHeadingContainer">
        <h2 class="header">
            Contactonos
        </h2>
    </div>
    <div class="contacts-subcontainer">
        <div class="contacts-left-container"> <!-- Contacts left container starts here -->
            
            <div class="form-container"><!-- Form Container Starts Here -->
                <form action="/add" method="POST">
                    <div class="row">
                        <p class="instructions">
                            <!-- To reach us, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor  -->
                            Para contactarnos, por favor complete su información abajo.
                        </p>
                    </div>
                    <div class="first-last-name-container">           
                        <div class="row">
                            <div class="col-25">
                                <label for="userFirstName">Nombre: </label>
                            </div>
                            <div class="col-75">
                                <input type="text" id="userFirstName" name="userFirstName" placeholder="Nombre" required><br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-25">
                                <label for="userLastName">Apellido: </label>
                            </div>
                            <div class="col-75">
                                <input type="text" id="userLastName" name="userLastName" placeholder="Apellido" required><br>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-25">
                            <label for="userEmail">Correo Electrónico: </label>
                        </div>
                        <div class="col-75">
                            <input type="text" id="userEmail" name="userEmail" placeholder="Correo Electrónico" required><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-25">
                            <label for="userPhoneNumber">Número de Teléfono: </label>
                        </div>
                        <div class="col-75">
                            <input type="text" id="userPhoneNumber" name="userPhoneNumber" size="50" pattern="[0-9-]+" placeholder="Número De Teléfono" required><br>
                        </div>
                    </div>
                    <div class="address-container">
                        <div class="row">
                            <div class="col-25">
                                <label for="userAddress">Dirección Postal:</label>
                            </div>
                            <div class="col-75">
                                <input type="text" id="userAddress" name="userAddress" size="68.9" placeholder="Dirección Postal" required><br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-25">
                                <label for="userCity">Ciudad:</label>
                            </div>
                            <div class="col-75">
                                <input type="text" id="userCity" name="userCity" size="10" placeholder="Ciudad" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-25">
                                <label for="userState">Estado:</label>
                            </div>
                            <div class="col-75">
                                <input type="text" id="userState" name="userState" placeholder="Estado" size="5" pattern="[A-Za-z]{2}" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-25">
                                <label for="userZipcode">Código Postal:</label>
                            </div>
                            <div class="col-75">
                                <input type="text" id="userZipcode" name="userZipcode" placeholder="Código Postal" size="5" pattern="[0-9-]+" required><br>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-25">
                            <label for="HearAboutUs">¿Cómo te enteraste <br>de nosotros?: </label>
                        </div>
                        <div class="col-75">
                            <textarea type="text" id="HearAboutUs" name="HearAboutUs" rows="2" cols="53" placeholder="Referencia"></textarea><br>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-25">
                            <label for="userComment">Comentarios: </label>
                        </div>
                        <div class="col-75">
                            <textarea type="text" id="userComment" name="userComment" rows="8" cols="53" placeholder="Comentarios" required></textarea>
                        </div>
                    </div>
                
                    <div id="submit-container" class="submit-button-container"> <!-- submit BUTTON starts here -->
                        <div class="row">
                            <button type="submit" class="submit-button" id="submitButton">Enviar</button>
                        </div>
                    </div> <!-- submit BUTTON ends here -->
                    <p id="thankYouMsg">
                        <% if (thanks == "yes") { %>
                        Thank you for your comments!
                        <% } %>
                    </p>
                </form>
            </div><!-- Form Container Ends Here -->
        </div> <!-- Contacts left container ends here -->
        <div class="contacts-right-container"> <!-- Contacts right container starts here -->
            <div>
                <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2948.5892538742464!2d-71.08083658503972!3d42.351279843649536!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e37a0bf715687f%3A0xfb454fcbc781334e!2s160%20Commonwealth%20Avenue%20APT%20313%2C%20Boston%2C%20MA%2002116!5e0!3m2!1sen!2sus!4v1587445668026!5m2!1sen!2sus" width="500" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            

        </div> <!-- Contacts right container ends here -->
    </div>    <!-- Contacts  SUBcontainer ends here -->
</div> <!-- Contacts end here -->
</div> <!--  Main Subcontainer ends here -->
<%- include('partials/footer'); -%>