<%- include('partials/head'); -%>
<%- include('partials/nav'); -%>

<div class="admin_main_container">
	<div id="login">
		<h1 class="admin_heading">Admin Login
			<br><i class="fa fa-sign-in fa-3x" aria-hidden="true"></i>
		</h1>

		
		
		<form action="/login" method="post">
			<div class="form-group login">
				<label><b>Username:</b></label>
				<input type="text" name="username"/><br/>
			</div>
			<div class="form-group login">
				<label><b>Password:</b></label>
				<input type="password" name="password"/>
			</div>
			<div>
				<button class="admin_button" type="submit">Submit</button>
			</div>
		</form>	
	</div>
</div>



<%- include('partials/footer'); -%>