<%- include('partials/head'); -%>
<%- include('partials/nav'); -%>
<div class="admin_main_container"> 
  <button id="register_page_button">
    <a href="/admin" >Return to Admin Options</a>
  </button>
  <br><br>

  <div id="register">
    <h1>Register An Admin</h1>
    <i class="fa fa-registered fa-5x register_icon" aria-hidden="true"></i>

    <!-- The action shows that the info is going to be put into the admin collection -->
    <form action="/admin" method="post">
      <div class="form-group">
        <label class="black">Username:</label>
        <input type="text" name="username"/><br/>
      </div>
      <div class="form-group">
        <label class="black">Password:</label>
        <input type="password" name="password"/>
      </div>
      <div class="form-group">
        <label class="black">Display Name:</label>
        <input type="text" name="displayname"/><br/>
      </div>
      <div class="form-group"></div><div>
        <label class="black">Email:</label>
        <input type="email" name="email"/><br/>
      </div>
      <br>
      <div>
        <button class="btn btn-light" type="submit"><a href="/login">Submit</a></button>
      </div>
    </form>
  </div> 
</div>

<%- include('partials/footer'); -%>