<h3>Event List</h3>
<div>
    
        <% all_events.forEach( (single_event) => { %>
            <h4>
                <%= single_event.event_name %>
            </h4> 
        <% }) %>
       
</div> 

<form>
    
</form>