<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Event List</h1>
    <p>Click on an event to see it's detiails.</p>

    <% all_events.forEach( (single_event) => { %>

    <h4 class="admin-links"> 
        <a href="/event_details/<%= single_event._id%>"><%= single_event.event_name %></a>                        
    </h4>
<% }) %>
</body>
</html>
