/* GTRANSLATE style starts here */
a.gflag {vertical-align:middle;font-size:32px;padding:1px 0;background-repeat:no-repeat;background-image:url(//gtranslate.net/flags/32.png);}
a.gflag img {border:0;}
a.gflag:hover {background-image:url(//gtranslate.net/flags/32a.png);}
#goog-gt-tt {display:none !important;}
.goog-te-banner-frame {display:none !important;}
.goog-te-menu-value:hover {text-decoration:none !important;}
body {top:0 !important;}
#google_translate_element2 {display:none!important;}
/* GTRANSLATE style ends here */

body {
    font-family: 'Poppins', sans-serif;    
    background-color:rgb(48, 48, 95);
    width:auto;
}
a:hover {
    text-decoration: none;
}
/* Navbar starts here */
nav a {
    color: white;
}
#navbarMainPage {
    background-color: #30305F; 
    position: fixed; 
    width: 100vw; 
    z-index: 1;
    border-bottom: 1px solid white;
}

.navbar-toggler {
    margin-right: 20px;
}
.logo-container{
    margin-right:100px;
}
.navbar-toggler {
    border: 1px solid white;
}

.translator-container {
    display: flex;
    margin-right: 90px;
}

.spain-icon-container {
    padding-left: 5px;
}
select.translator-select  {
    margin-left: 5px;
    width: 178px;
    padding: 5px 5px;
}

.home-button-container {
    background-color: goldenrod;
    padding: 0 20px;
    border-radius: 20px;
    margin-right: 30px;

}
.home-button-container a {
    color: black;
}
.home-button-container:hover {
    background-color: lightskyblue;
    color: rgb(48, 48, 95);
}
.tabs-container {
    margin-right: 30px;
    display: flex;
   
}

.tab-button:hover {
    background-color: lightskyblue;
    color: rgb(48, 48, 95);
    border-radius: 20px;
    
}
.icon-nav-container {
    margin-top: 3px;
}
.icon-nav-container .fa:hover {
    color: lightskyblue;

}
/* banner starts here */
.main-container {
    /* width: 98.9vw; <<<<<<<<<<<< Controls ENTIRE PAGE WIDTH>>>>>>>>>>>>>>>>>>>>>>>>> */
    width: auto;
    display: flex;
    flex-direction: column;
}

.banner-container {
    background-image: url(../images/pic14.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    font-weight: bolder;
    color: goldenrod;
    background-color: mediumturquoise;
    text-align: center;
    align-items: center;
    width: auto;
    height: 725px;

}

.banner-heading-container {
    background-color: rgba(10, 10, 10, 0.55);
    padding: 40px 50px 0 50px;
    border-radius: 7px;
    margin-top: 160px;
    font-family: 'Ubuntu', sans-serif;
}
.banner-heading-container h1 {
    -webkit-text-stroke: 1px black;
    color: goldenrod;
    text-shadow:
        3px 3px 0 #000,
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}
.banner-subheading {
    margin-top: 30px;
    -webkit-text-stroke: 1px black;
    color: white;
        text-shadow:
        3px 3px 0 #000,
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}
.flag {
    width: 250px;
    border-radius: 7px;
    margin-top: 20px;
}

/* Bouncy Arrow starts here*/
@bg: #2d2d37; // Dark blue
@primary: #fd6b21; // Orange

body { background: @bg;}
.arrow a { color: white; text-decoration: none; }

.arrow {
  text-align: center;
  margin: 8% 0;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* Main Subcontainer starts here */
.main-subcontainer {
    color:white;
    width: auto;
}

/* Mision and values section start here */
hr#beginningOfSection1 {
    padding-bottom: 80px;
    margin: 0;
    /* width: 99.9%; */
    width: auto;
    background-color: goldenrod;
    border: 1px solid goldenrod;
}
.heading-container {
    padding: 10px 0 30px 0;
}

.mission-and-values-container {
    background-color: goldenrod;
   display: flex;
   flex-direction: column;
   text-align: center;
}

h2.header {
    text-align: center;
}

/* Events section starts Here */
hr#beginningOfSection2 {
    padding-bottom: 80px;
    margin: 0;
    border-top: 1px solid white;
    background-color: white;
    /* width: 99.9%; */

}
.events-container {
    padding: 0 0 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}
.small-view {
    display: none;
}
.user-instructions {
 margin-bottom: 50px;
}
.events-subcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    width: auto;
}
.individual-event-container {
    background-color: white;
    width: 405px;
    height: 310px;
    border: 1px solid black;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 5px;
    padding-top: 20px;
    text-align: center;
}
.events-image-container1 {
    width: 300px;
    height: 200px;
    background-image: url(../images/bbq.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 7px;

}
.events-image-container2 {
    width: 300px;
    height: 200px;
    background-image: url(../images/christmas2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 7px;

}
.events-image-container3 {
    width: 300px;
    height: 200px;    
    background-image: url(../images/microphone.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 7px;

}
.events-image-container1:hover{
    zoom: 1.1;
}
.events-image-container2:hover{
    zoom: 1.1;
}
.events-image-container3:hover{
    zoom: 1.1;
}
.individual-event-container a {
    text-decoration: none;
    color: black;
}
.event-name:hover {
    font-weight: bold;
    
}
.events-image-container3 ::after {
    box-sizing: none;
}

/* Gallery section starts here */
hr#beginningOfSection3 {
    background-color: white;
    padding-bottom: 80px;
    margin: 0;
    
}
.featured-videos {
    text-align:center;
}

.featured-videos iframe {
    border-radius: 7px;
    border: 5px solid white;
    width: 640px; 
    height: 360px;

}
.photo-albums-container {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}
.photo-albums-subcontainer {
    color: white;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;

    border-radius: 7px;
    flex-wrap: wrap;
}
.album-container {
    width: 350px;
    text-align: center;
    
}
.album-image-container {
    width: 250px;
    border-radius:7px;

    position: relative;
    max-width: 300px;

}

.album-image {
    background-color: rgb(245, 23, 160);
    display: block; /* remove extra space below image */
    border-radius: 7px;
    border: 5px solid white; 

    display: block;
    width: 100%;
    height: auto;
    width: 350px;
}
.overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 140%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.album-image-container:hover .overlay {
    opacity: 1;
}
.album-image-container:hover {
    position: relative;
    top: -4px;
    filter: brightness(50%);
}


/* Who we are section starts here */
hr#beginningOfSection4 {
    background-color: white;
    padding-bottom: 80px;
    margin: 0;
}
.who-we-are-container {
    padding: 0 0 120px 0;
    height: auto;
}
.who-we-are-subcontainer {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}
.person-container {
    text-align: center;    
}

.person-image-container img{
    height: 300px;
    border-radius: 7px;
    border: 1px solid black;

}

/* Contacts section starts here */
hr#beginningOfSection5 {
    background-color: white;
    padding-bottom: 80px;
    margin: 0;
}
.contacts-container {
    padding: 0 20px 100px 20px;
}
.contacts-subcontainer {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;

}


/* Form section starts here>>>>>>>>>>>>>>> */

.form-container {
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px 0 20px 45px;
    color: black;
    width: 600px;
  }

  .form-container input[type=text], select, textarea {
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-left: 45px;
    font-family: 'Poppins', sans-serif;    
  }
  .form-container label {
    padding: 5px 5px 5px 0;
    display: inline-block;
    width: 200px;
    margin-right: 20px;
  }
  
  .form-container input[type=submit] {
    background-color: #4CAF50;
    color: white;

    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  .form-container input[type=submit]:hover {
    background-color: #45a049;
  }
 
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 60%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  
.submit-button-container {
    text-align: center;
    padding: 10px 0;
}
.submit-button {
    background-color:rgb(84, 219, 84);
    border:1px solid green;
    border-radius: 4px;
    padding: 10px 20px;
    margin-left: 200px;
}
.submit-button:hover {
    background-color: #45a049;
}
#thankYouMsg {
    margin: 10px 0  0 100px;
}
.contacts-right-container {
background-color: #f2f2f2;
height: 370px;
border-radius: 4px;
margin-top: 55px;
}
.contacts-right-container iframe {
    border-radius: 4px;
    padding: 20px 20px 0px 20px; 
}

/* footer starts here */
footer {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border-top: 5px solid black;
    width: auto;
}
.footer-left-container {
width: 60vw;
border-right: 20px solid black;
border-top-right-radius: 50%;
border-bottom-right-radius: 50%;
height: 700px;
padding-top: 120px;
padding-right: 50px;
padding-left: 50px;
background-color: white;

}
.phone-number {
    color: rgb(20, 20, 236);
}
.phone-number:hover {
    position: relative;
    top: -3px;

}
.footer-facebook-promo {
    background-color:rgb(48, 48, 95);
    width: 270px;
    border: 1px solid black;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 45px;
    padding: 40px 0;
    color: white;
}
.footer-facebook-promo #fa {
    color: white;
}
#fa:hover {
    position: relative;
    top: -3px;
    color: lightskyblue;
}
.footer-right-container {
    padding-right: 50px;
}
.footer-logo {
    padding-left: 100px;
}
.footer-logo img{
width: 700px;
}

/* ****EVENTS PAGE SECTION STATS HERE */
.body-content-container {
    display: flex;
    background-color: white;
    width: auto;
}

.events-page-h3-container {
    margin-top: 250px;
}
.event-list {
    padding-top:100px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;

    
}

.event-border {
    border: 5px solid lightskyblue;
    padding: 0 10px 10px 10px;
    margin-top: 5px;
    
    width: 400px;
}

/* Admin SECTION STARTS HERE */
.admin_page_container {
    margin-left: 100px;
}
#login {
    text-align: center;
    color: white;
    background-color: lightskyblue;
    /* width: 400px; */
    border-radius: 10px;
    padding: 50px 0;
}
#register {
    text-align: center;
    color: white;
    background-color: lightskyblue;
    width: 400px;
    border-radius: 10px;
    padding: 20px 0;
}
.register_icon {
    padding: 10px 0 60px 0;
}
.profile_container {
    text-align: center;
    color: black;
    background-color: lightskyblue;
    width: 400px;
    border-radius: 10px;
    padding: 30px 0;
    
}
.profile_icon {
    margin: 10px 0 20px 0;
}
.pofile_page_button {
    width: 200px;
    color: silver;
    border-radius: 10px;
    border: 1px solid black;
    padding: 0 0;
}
.pofile_page_button:hover {
    position: relative;
    top: -2px;
}
.admin-links a {
    text-decoration: none;
}

.admin_main_container {
    margin: 100px 40px 300px 40px;
    display: flex;
    flex-direction: column;
    
}
.admin_button {
    width: 100px;
    background-color: rgb(70, 70, 238);
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    text-decoration: none;
}
#logout_button {
    width: 100px;
    background-color: #30305F;
    border: 1px solid rgb(70, 70, 238);
    border-radius: 10px;
    
}
#logout_button:hover {
    position: relative;
    top: -3px;
}
#register_page_button {
    width: 200px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0 2px;
}
#register_page_button:hover {
    position: relative;
    top: -2px;
}
.black {
    color: black;
}

.admin_button:hover {
    background-color:#30305F;
    color: white;
    position: relative;
    top: -3px;
}
.return-to-admin{
    background-color: grey;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    text-decoration: none;
}
.admin_heading{
 text-align: center;
 margin-bottom: 130px;
 color: white;
}
.admin_options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;    
}
.option_container {
    text-align: center;
    color: lightskyblue;
    padding: 10px 50px;
    margin: 0 0 40px 0;
}
.admin_icons {
    color: white;
}
.admin_icons:hover {
    color: lightskyblue;
}

.goog-text-highlight:hover {
    background-color: transparent;
    box-shadow: none;
}

/* Responsive Design >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>. */ 
/* Use a media query to add a breakpoint at 1485px: */
@media screen and (max-width: 1485px) {
     /* footer responsiveness */
     footer {
        padding: 30px;
        /* font-size: 10px; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* width: auto; */
    }
    /* .phone-number {
        font-size: 40px;
    } */
    .footer-left-container {
        border-right: none;
        border-top-right-radius: 0%;
        border-bottom-right-radius: 0%;
        height: auto;
        padding-top: 0px;
        padding-right: 0px;
        /* padding-left: 400px; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
       
    .footer-facebook-promo {
        width: 400px;
        
        margin-left: 0px;
    }
      
    .footer-right-container {
        padding-right: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
    }
    .footer-logo {
        padding-left: 0px;
    }
    .footer-logo img{
        width: 1000px;
    }

}

@media screen and (max-width: 1250px) {
    .individual-event-container {
        width: 300px;
        height: 310px;
        align-items: center;
        margin: 0 5px;
        padding-top: 20px;
    }
      
}

@media screen and (max-width: 1145px) {
    .contacts-subcontainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 40px;
    
    }
    .contacts-right-container {
        width: auto; 
        flex-direction: column;
    }
    .map {
        width: 100%;
    } 
}

/* On screens that are 992px wide or less, style as follows */
@media screen and (max-width: 992px) {
    .footer-logo img{
        width: 400px;
    }   
    .contacts-right-container, .contacts-subcontainer {
        width: auto; 
        flex-direction: column;
    }
    .who-we-are-subcontainer, .events-subcontainer, .photo-albums-subcontainer {
        flex-wrap: wrap;
          
    }
    .map {
        width: 100%;
    }
}
  
/* On screens that are 600px wide or less, style it as follows: */
@media screen and (max-width: 600px) {
    /* Events Responsiveness */
    .small-view {
        background-color: white;
        text-align: center;
        border-radius: 10px;
        display: block;
    }
    .sv-event-image-container {
        padding: 20px 0 0 0px;
    }
    .sv-event-image-container img {
        /* width: 300px; */
        height:350px;
        border-radius: 7px;
    }
    .small-view .sv-event-name {
        color: black;
    }
    .user-instructions {
        display: none;
    }
    .individual-event-container {
        display: none;
    }
    .events-image-container1 {
       display: none;
    
    }
    .events-image-container2 {
        display: none;
    
    }
    .events-image-container3 {
        display: none;
    }
    
    /* Banner Responsiveness */
    .banner-heading-container {
        margin-top: -60px;        
        padding: 20px 20px
    }

    .banner-heading-container h1 {
        font-size: 32px;
    }
    .banner-subheading {
        margin-top: 30px;
        font-size: 24px;
    }
    .flag {
        width: 200px;
        margin-top: 10px;

    }

    /* Gallery Responsiveness */
    .featured-videos {
        margin: 0;
    }
    .featured-videos iframe {
        border-radius: 7px;
        border: 5px solid white;
        width: 340px; 
        height: 260px;
    }


    /* user contacts form: make the two columns stack on top of each other instead of next to each other  */
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
      }
      /* contacts form responsiveness */
      .form-container {
        box-sizing: border-box;
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px 0 20px 45px;
        color: black;
        width: auto;
        height: auto;
      }
    
      .form-container input[type=text], select, textarea {
        width: auto;
        margin-left: 0px;  
        
      } 
      .submit-button {
        margin-left: 50px;
        }
    /* footer responsiveness */
    footer {
        padding: 30px;
        /* font-size: 10px; */
        display: flex;
        flex-direction: column;
        width: auto;
    }
    .phone-number {
        font-size: 26px;
    }
    .footer-left-container {
        border-right: none;
        border-top-right-radius: 0%;
        border-bottom-right-radius: 0%;
        height: auto;
        padding-top: 0px;
        padding-right: 0px;
        padding-left: 0px;
        
    }
       
    .footer-facebook-promo {
        width: 200px;
        margin-left: 0px;
    }
      
    .footer-right-container {
        padding-right: 0px;
            
    }
    .footer-logo {
        padding-left: 0px;
    }
    .footer-logo img{
        width: 350px;
    }
    /* EVENTS PAGE RESPONSIVENESS */
    .event-border {
        border: 5px solid lightskyblue;
        padding: 0 10px 10px 10px;
        margin-top: 5px;
        margin-right: 5px;
        
        width: auto;
    }


/* ADMIN PORTAL RESPONSIVENESS */
    #login {
        width: auto;
        padding: 20px 30px 0px 30px;
        height: 300px;
    }
    .login input[type=text], input[type=password] {
        width: 200px;
    }
    .admin_main_container {
        margin-left: 5px;
    }
    .admin_heading{
        margin-bottom: 40px;
       }
    #register {
        width: auto;
        padding: 20px 40px;
    }
    #register input[type=text]{
        width: auto;
    }
    .profile_container {
        width: auto;        
    }
}

/* Responsive XS 430px */
@media screen and (max-width: 600px) {
    .featured-videos iframe {
        width: 340px; 
    
    }
    .album-container {
        width: 250px;
    }
    
    .album-image {
        background-color: rgb(245, 23, 160);
        display: block; /* remove extra space below image */
        border-radius: 7px;
        border: 5px solid white; 
    
        display: block;
        width: 100%;
        height: auto;
        width: 300px;
    }
    .overlay {
        position: absolute; 
        bottom: 0; 
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5); /* Black see-through */
        color: #f1f1f1; 
        width: auto;
        transition: .5s ease;
        opacity:0;
        color: white;
        font-size: 20px;
        padding: 20px;
        text-align: center;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
    }
    
}