/* GTRANSLATE style starts here */
a.gflag {vertical-align:middle;font-size:32px;padding:1px 0;background-repeat:no-repeat;background-image:url(//gtranslate.net/flags/32.png);}
a.gflag img {border:0;}
a.gflag:hover {background-image:url(//gtranslate.net/flags/32a.png);}
#goog-gt-tt {display:none !important;}
.goog-te-banner-frame {display:none !important;}
.goog-te-menu-value:hover {text-decoration:none !important;}
body {top:0 !important;}
#google_translate_element2 {display:none!important;}
/* GTRANSLATE style ends here */

body {
    font-family: 'Poppins', sans-serif;    
    background-color:rgb(48, 48, 95);
    margin: 0;
}


/* navigation bar starts here */
nav {
    background-color:rgb(48, 48, 95);
    height: 65px;
    width: 100%;
    display: flex;
    border-bottom: solid white 1px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0px;
    top: 0px;
    z-index: 1;
}

.logo-container{
    width:100px;
    margin-left:40px;
    margin-right:100px;
}
.translator-container {
    display: flex;
    width: 300px;
}

.spain-icon-container {
    padding-left: 5px;
}
select.translator-select  {
    padding-left: 0px;
    margin-left: 5px;
    width: 155px;
    padding: 10px 10px;
}
.home-button-container {
    background-color: goldenrod;
    padding: 0 20px;
    border-radius: 10px;
    margin-left: 80px;
    
}
.home-button-container a {
    color: black;
}
.home-button-container:hover {
    background-color: lightskyblue;
    color: rgb(48, 48, 95);
}
.tabs-container {
    width: 820px;
    display: flex;
    justify-content: space-between;
    margin: 0 50px 0 40px;
}
.tab-button {
    text-decoration: none;
    color: white; 
    padding: 20px;   
}
.tab-button:hover {
    background-color: lightskyblue;
    color: rgb(48, 48, 95);
    
}
.icon-nav-container {
    width: 50px;
    margin: 0 40px 0 0;
}
.icon-nav-container .fa:hover {
    background-color: lightskyblue;

}
/* banner starts here */
.main-container {
    width: 98.9vw; /* <<<<<<<<<<<< Controls ENTIRE PAGE WIDTH>>>>>>>>>>>>>>>>>>>>>>>>> */
    display: flex;
    flex-direction: column;
}

.banner-container {
    background-image: url(../images/pic14.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    font-weight: bolder;
    color: goldenrod;
    background-color: mediumturquoise;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 690px;
    margin-top: 60px;

}

.banner-heading-container {
    background-color: rgba(10, 10, 10, 0.55);
    padding: 0 50px 20px 50px;
    border-radius: 7px;
    margin-top: 120px;

}

.flag {
    width: 250px;
    border-radius: 7px;
}

/* Bouncy Arrow starts here*/
@bg: #2d2d37; // Dark blue
@primary: #fd6b21; // Orange

body { background: @bg;}
a { color: white; text-decoration: none; }

.arrow {
  text-align: center;
  margin: 8% 0;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* Main Subcontainer starts here */
.main-subcontainer {
    color:white;
}

/* Mision and values section start here */
hr#beginningOfSection1 {
    padding-bottom: 50px;
    margin: 0;
    width: 99.9%;
    background-color: goldenrod;
    border: 1px solid goldenrod;
}
.heading-container {
    padding: 10px 0 30px 0;
}

.mission-and-values-container {
    background-color: goldenrod;
   padding: 0 300px 50px 300px;
   display: flex;
   flex-direction: column;
   text-align: center;
}

h2.header {
    text-align: center;
}

/* Events start section Here */
hr#beginningOfSection2 {
    padding-bottom: 50px;
    margin: 0;
    border-top: 1px solid white;
    background-color: white;

}
.events-container {
    padding: 0 0 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 620px;
}
.user-instructions {
 margin-bottom: 50px;
}
.events-subcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
}
.individual-event-container {
    background-color: white;
    width: 400px;
    height: 300px;
    border: 1px solid black;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 5px;
    padding-top: 20px;
}
.events-image-container1 {
    width: 300px;
    height: 200px;
    background-image: url(../images/bbq.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 7px;

}
.events-image-container2 {
    width: 300px;
    height: 200px;
    background-image: url(../images/christmas2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 7px;

}
.events-image-container3 {
    width: 300px;
    height: 200px;    
    background-image: url(../images/microphone.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 7px;

}
.individual-event-container a {
    text-decoration: none;
    color: black;
}
.event-name:hover {
    font-size: 120%;
    font-weight: bold;
}

/* Gallery section starts here */
hr#beginningOfSection3 {
    background-color: white;
    padding-bottom: 50px;
    margin: 0;
}
.featured-videos {
    text-align:center;
}

iframe {
    border-radius: 7px;
    border: 5px solid white;
}
.photo-albums-container {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}
.photo-albums-subcontainer {
    color: white;
    width: 1400px;
    padding: 40px 0 20px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
}
.album-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width: 400px;
    padding-left: 10px;
    padding-top: 40px;
    /* text-align: center; */
    
}
.album-image-container {
    /* background-color: plum; */
    width: 250px;        
    border-radius:7px;

    position: relative;
    /* width: 50%; */

}
.album-image-container.large {
    height: 300px;
}
.album-image-container.small {
    height: 100px;
}
.album-image {
    max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */
    border-radius: 7px;
    border: 5px solid white; 

    /* display: block; */
    /* width: 100%; */
    /* height: auto; */
    
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 106%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
    border-radius: 7px;
}
.album-image-container:hover .overlay {
    opacity: 1;
}
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
/* Who we are section starts here */
hr#beginningOfSection4 {
    background-color: white;
    padding-bottom: 50px;
    margin: 0;
}
.who-we-are-container {
    padding: 10px 0 120px 0;
}
.who-we-are-subcontainer {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}
.person-container {
    text-align: center;    
}

.person-image-container img{
    height: 300px;
    border-radius: 7px;
    border: 1px solid black;

}

/* Contacts section starts here */
hr#beginningOfSection5 {
    background-color: white;
    padding-bottom: 50px;
    margin: 0;
}
.contacts-container {
    padding: 0 20px 100px 20px;
}
.contacts-subcontainer {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;

}


/* Form section starts here>>>>>>>>>>>>>>> */

.form-container {
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px 0 20px 45px;
    color: black;
    width: 600px;
  }

  input[type=text], select, textarea {
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-left: 45px;
    font-family: 'Poppins', sans-serif;    
  }
  label {
    padding: 5px 5px 5px 0;
    display: inline-block;
    width: 200px;
    margin-right: 20px;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;

    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
 
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 60%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
.submit-button-container {
    text-align: center;
    padding: 10px 0;
}
.submit-button {
    background-color:rgb(84, 219, 84);
    border:1px solid green;
    border-radius: 4px;
    padding: 10px 20px;
}
.submit-button:hover {
    background-color: #45a049;
  }
.contacts-right-container {
background-color: #f2f2f2;
padding: 20px 20px 0 20px;
height: 370px;
border-radius: 4px;
margin-top: 55px;
}
iframe {
    border-radius: 4px;
}


/* footer starts here */
footer {
    background-color: white;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    color: black;
    /* height: 700px; */
    border-top: 5px solid black;
}
.footer-left-container {
width: 40vw;
border-right: 20px solid black;
border-top-right-radius: 50%;
border-bottom-right-radius: 50%;
height: 600px;
/* text-align: center; */
padding-top: 90px;
padding-right: 50px;
padding-left: 50px;
background-color: white;

}
.phone-number {
    color: rgb(20, 20, 236);
}
.phone-number:hover {
    position: relative;
    top: -3px;

}
.footer-facebook-promo {
    background-color:rgb(48, 48, 95);
    width: 150px;
    border: 1px solid black;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    margin-left: 45px;
    padding: 30px;
    color: white;
}
#fa:hover {
    position: relative;
    top: -3px;
}
.footer-right-container {
    /* padding-left: 50px; */
    padding-right: 50px;
}
.footer-logo {
    padding-left: 100px;
}
.footer-logo img{
width: 700px;
}

/* ****EVENTS PAGE SECTION STATS HERE */
.evets-body-color {
    background-color: white;
}

.body-content-container {
    display: flex;
}

.events-page-h3-container {
    margin-top: 250px;
}
.event-list {
    /* background-color: green; */
    padding-top:100px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;

    
}

.event-border {
    /* background-color: orange; */
    border: 5px solid lightskyblue;
    padding: 0 10px 10px 10px;
    margin-top: 5px;
    
    width: 400px;
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

/* Responsive */
