body {
    font-family: 'Baloo Bhaina 2', cursive;
    /* background-color:#1E406D; */
    width: 1500px;
   

}
/* navigation bar starts here */
nav {
    height: 65px;
    width:1500px;
    display: flex;
    border-bottom: solid grey 1px;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: white;

}

.logo-container{
    /* background-color: orange; */
    width:100px;
    margin-left:40px;
    margin-right: 400px;
}

.tabs-container {
    /* background-color: green; */
    width: 700px;
    display: flex;
    justify-content: space-between;
    /* font-weight: bold; */
    font-size: 16px;
}
.tab-button {
    text-decoration: none;
    /* color: white' */
}
.icon-container {
    /* background-color: pink; */
    width: 100px;
}
/* banner starts here */
.main-ontainer {
}
.banner-container {
    background-image: url(../images/pic6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    display: flex;
    /* justify-content: center; */
    font-size: 40px;
    font-weight: bold;
    color: #e43038;
    background-color: orange;
    /* text-align: center; */

    flex-direction: column;
    align-items: center;


}
.banner-heading-container {
}
.banner-subheading {
    margin-left:400px;
    padding-bottom: 200px;
    margin-top: 0;
}
h2 {
    text-align: center;
}
/* Second Main Subcontainer starts here */
.second-main-subcontainer {
}
/* Mision and values section start here */
.heading-container {
    padding: 10px 0 30px 0;
}
.mission-and-values-container {
   padding: 0 300px 50px 300px;
}
.mission-and-values-container img {
    /* opacity: 0.3; */

}
.mission-heading-container {

}

/* Events start section Here */
.events-container-container {
    background-color: #e43038;

}
.events-container {
    /* padding-bottom: 50px; */
    padding: 0 50px 50px 50px;
    /* background-color: #e43038; */
}

.events-subcontainer {
    /* background-color: pink; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}
.individual-event-container {
    background-color: white;
    width: 400px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 5px;
    /* justify-content: space-between; */

    /* padding: 20px 200px; */



}
.events-image-container1 {
    width: 300px;
    height: 200px;
    background-image: url(../images/bbq.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
.events-image-container2 {
    width: 300px;
    height: 200px;
    background-image: url(../images/christmas.jpg);
    background-repeat: no-repeat;
    background-size: contain;

}
.events-image-container3 {
    width: 300px;
    height: 200px;    
    background-image: url(../images/microphone.jpg);
    background-size: contain;
}

/* Gallery section starts here */
.photo-albums-container {
}
.photo-albums-subcontainer {
    /* background-color: fuchsia; */
    padding: 10px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}
.individual-album-container {
    background-color: green;
    /* height: 100px; */
    /* width: 50px; */
}
.album-image-container {
    width: 200px;        
        border: 5px solid black;
}
.album-image-container.large {
    height: 300px;
}
.album-image-container.small {
    height: 100px;
}
.album-container img {
    max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */
}
.album-container p {

}

/* Who we are section starts here */
.who-we-are-continer {
    padding: 0 50px 50px 50px;
}
.who-we-are-subcontainer {
    display: flex;
    justify-content: space-between;
}
.person-container {
    text-align: center;    
}
.person-image-container {
    /* background-color: green; */
}
.person-image-container img{
    height: 300px;
    /* border-radius: 75%; */
    border: 1px solid black;

}
.person-name-and-title {

}


/* Contacts section starts here */
.contacts-container {
    padding: 0 50px 50px 50px;
}
.contacts-subcontainer {
    display: flex;
    justify-content: space-between;

}
/* .first-last-name-container {
    display: flex;
    flex-direction: row;
} */

.submit-button-container {
    text-align: center;
}
/* footer starts here */
footer {
    background-color: #3076b4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    
}
footer a {
    color: white;

}


/* *****PICTURE GALLERIES PAGE SECTION  STARTS HERE****** */
/* Galleries and Events navbar section */
.home-container {
    /* background: #222; */
    /* border-bottom: 2px solid #555; */
    /* border-top: 2px solid #555; */
    margin-top: 30px;
    padding: 40px 0;
}
.home {
     margin-left: 150px;
    border: 2px solid black;
    /* padding: 30px;
    background-color: gold;
    border-radius: 50%;   */

    background:gold;
    height: 60px;
    text-align: center;
    transform:rotate(45deg);
    width:60px;
}
.home b {
    color: #333;
    display: table-cell;
    height: 60px;
    transform: rotate(-45deg);
    vertical-align: middle;
    width:60px;
}
/* Gallaries and Events Navbar section ends here */
/* Gallery section continued vvv */
.gallery-images {
    display: flex; 
    /* justify-content: space-around; */
    flex-wrap: wrap;
    align-items: center;
}
.gallery-images img {
    background-color: hotpink;
    width: 300px;
    margin:20px;
    padding:5px;
}

/* *****EVENTS PAGE SECTION  STARTS HERE****** */
.page-title-container {
    margin-top: 150px;
}
.page-events-subcontainer {
    
}
.events-page-main-heading {
    padding-bottom: 20px;
}
.event-page-heading {
    text-align: left;
}
